h1 {
  text-align: center;
  color: red;
  font-size: 50px;
}

.link {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

div {
  height: fit-content;
  width: fit-content;
  padding: auto

  margin: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

a:visited {
  color: purple;
}

span {
  font-weight: 600;
}

.hehe {
  width: fit-content;
  height: fit-content;
  font-size: 20px;

}

ol {
  list-style-type: upper-roman;
  

}


p {
  font-size: 20px;
}

h3{
  margin-top: 50px;
}

pre{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

}

span{
  font-weight: bold;
}

